# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* Programming Languages
  * Python
  * Scala
  * Julia
* Development Environments
  * JupyterLab
  * Jupyter Notebook
  * Spyder
* Tools
  * Apache
  * Spark
  * Github

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala
4. Julia

Some of the commonly used libraries used by Data Scientists include:

1. TensorFlow
2. Keras
3. PyTorch
4. Sci-Kit Learn
5. Scrapy

| Data Science Tools |
|--------------------|
|JupyterLab|
|Jupyter Notebook|
|Spyder|

### Below are a few examples of evaluating arithmetic expressions in Python.

7+8

7*8

7-8

7/8

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Mayank Deshmukh